<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @parking_spot.name %>
</p>

<p>
  <strong>Occupied:</strong>
  <%= @parking_spot.occupied %>
</p>

<p>
  <strong>Reservable:</strong>
  <%= @parking_spot.reservable %>
</p>

<p>
  <strong>Reserved:</strong>
  <%= @parking_spot.reserved %>
</p>

<%= link_to 'Edit', edit_parking_spot_path(@parking_spot) %> |
<%= link_to 'Back', parking_spots_path %>
